:root {
    --rosa-buser: #ff0778;
    --roboto: 'Roboto', sans-serif;
}

html {
    font-family: var(--roboto);
}

.cabecalho {
    height: 42px;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
}

.logo-buser {
    height: 1.5rem;
    align-self: center;
    cursor: pointer;
    margin: 0 1.5rem;
}

.entrar {
    border: none;
    background: none;
    align-self: center;
    height: 70%;
    color: var(--rosa-buser);
    font-weight: 700;
    cursor: pointer;
    margin: 0 1.5rem;
}

.entrar:hover {
    opacity: 60%;
    transition: 0.3s;
}

.entrar:active{
    color: #5c0a2d;
    transition: 0.3s;
}

main {
    background-color: var(--rosa-buser);
    padding: 4.5rem 1.5rem 13rem 1.5rem;
    border-radius: 20px;
}

.titulo-principal {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1.2;
}

.subtitulo {
    color: #FFFFFF;
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: 0.8rem 0;
}

.escolher-viagem {
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.texto-label {
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 1rem;
    color: #424242;
}

.texto-label:first-child {
    margin-top: 0.5rem;
}

.container {
    border-style: solid;
    border-width: 1px;
    border-color: #c1c1c1;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    padding: 0.7rem 0.7rem;
    border-radius: 5px;
    margin-top: 0.1rem;
}

.imagem-icons-8 {
    cursor: default;
}

.imagens-esquerda-input {
    margin-right: 0.5rem;
}

.imagem-circulo {
    width: 0.7rem;
    height: 0.7rem;
}

.input-cidade {
    border: none;
    width: 100%;
}

.imagem-setas, .imagem-geotag {
    width: 1rem;
}

.imagem-setas {
    vertical-align: bottom;
}

.espaco-vazio {
    flex-grow: 1;
}

.input-data {
    border: none;
    width: 100%;
    opacity: 80%;
    cursor: pointer;
}

.input-data:focus {
    outline: none;
    color: #424242;
}

.imagem-calendario {
    width: 1rem;
    height: 1rem;
    opacity: 60%;
}

.botao-buscar {
    background-color: var(--rosa-buser);
    margin-top: 0.7rem;
    color: #FFFFFF;
    border-width: 1px;
    border-color: #ad1457;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 0;
    cursor: pointer;
}

.botao-buscar:hover {
    opacity: 80%;
}

.botao-buscar:active {
    opacity: 50%;
    transition: 0.3s;
}


.botao-buscar svg {
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0.3rem;
}

.menu-inferior {
    display: flex;
    justify-content: space-around;
    font-size: 0.7rem;
    padding: 0.8rem 0;
    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.menu-inferior img {
    width: 1.2rem;
}

.link-menu-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #424242;
    text-decoration: none;
}

.link-menu-inferior:hover {
    opacity: 70%;
    transition: 0.3s;
}

.link-menu-inferior:active {
    opacity: 50%;
    transition: 0.3s;
}

@media (min-width: 450px) {
    body {
        max-width: 450px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        box-shadow: 2px 2px 15px 10px #eeeeee;
    }


    .cabecalho {
        border-radius: 15px 15px 0 0;
        max-width: 450px;
        padding: 0;
    }

    .menu-inferior  {
        padding-bottom: 0.4rem;
        max-width: 450px;
    }
}